<h1 class="font-semibold text-lg my-4 text-center">Edit User</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>

<div class="text-center">
  <%= link "Back", to: Routes.user_path(@conn, :show, @user), class: "btn btn-outline-blue" %>
</div>
